{% extends 'base.html.twig' %}

{% block title %}Hello BlogPostController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main role="main" class="container mt-4">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ blogPost.title }}</h2>
                    <p class="blog-post-meta">更新日：{{ blogPost.updatedAt | date('Y/m/d')}}　投稿者：<a href="#">{{ blogPost.User.username }}</a></p>
                </div>
                <div class="blog-post">
                    {{ blogPost.content }}
                </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->
            {{ include('frontend/aside.html.twig') }}
        </div><!-- /.row -->
    </main>
{% endblock %}
{% block aside %}
{% endblock %}
