{% extends 'admin_base.html.twig' %}

{% block title %}ブログ一覧{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">ブログ一覧</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">シェア</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">輸出</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    今週
                </button>
            </div>
        </div>
        <h2>セクションタイトル</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>タイトル</th>
                    <th>投稿内容</th>
                    <th>作成日時</th>
                    <th>更新日時</th>
                </tr>
                </thead>
                <tbody>
                {% for blog in blogList %}
                <tr>
                    <td>{{ blog.id }}</td>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.content }}</td>
                    <td>{{ blog.createdAt| date('Y/m/d') }}</td>
                    <td>{{ blog.updatedAt| date('Y/m/d') }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
